*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* custom css */
.f-left{
    float: left;
}
.relative{
    position: relative;
}
.absulate{
    position: absolute;
}
.bg-mback{
   background: #F4F6FF;
}
.bg-menubar{
background-color: #10375C;
}
.none{
    border: none;
}
.decoration{
    text-decoration: none;
}
.w-90{
    width: 90%;
}
.text-grey{
    color: grey;
}
.bg-grey{
background-color: grey;
}

/* custom css */
.social a{
    color: black;
}

.w-dress{
    background: url('images/women-large.jpg.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.m-dress{
    background: url('images/man-large.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.img-1{
    background: url('images/trainer1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

 .women-menu{
    ul{
        li{
            list-style: none;
            a{
                color: grey;
                text-decoration: none;
                padding: 5px 0;
                font-size: 20px;
            }
            a:hover{
                color: salmon;
            }
        }
    }
 }
 .model{
    width: 80%;
 }
.all-dept{
    font-size: 16px;
    padding-left: 15px;
    text-align: center;
    
  }
  .button-dept{
    margin-top: -8px;
  }
  .dept-btn{
    border: none;
    margin-top:-2px ;
  }
.login{
    p{
        font-size: 16px;
    }
    a{
        color: black;
        text-decoration: none;
    }
}
.search{
    border: none;
}
.submenu{
    text-align: center;
    width: 120px;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid black;
    background-color: #10375C;
   z-index: 1;
}
.submenu-2{
    text-align: center;
    width: 160px;
    margin-left: -15px;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid black;
    background-color: #10375C;
    z-index: 1;
}
.menu-bar{
    li{
        list-style: none;
        a{
            text-decoration: none;
            padding: 18px;
            color: white;
        }
        a:hover{
            color: sandybrown;
            transition-duration: .5s;
        }
    }
   
}
.mobile-menu{
    display: none;
}
.m-menu{
    background-color: #10375C;
    width: 100%;
    text-align: center;
    margin:1px;
   
    a{
        text-decoration: none;
        color: white;
        font-size: 15px;
        
    }
}
.card-img{
    width: 80%;
  
}
.time-bg{
    background: url('images/time-bg.jpg');
    background-position: center;
    background-size: cover;
}
.time-description{
    padding: 80px 65px;
}
.sponsor{
    background-color: #303030;
    
}
footer{
    .social-icon{
        a{
            border-radius: 50%;
            padding: 10px;
        }
        a:hover{
            background-color: #E7AB36;
            transition: 0.5s;
        }
    }
    hr{
        color: grey;
    }
}




@media only screen and (max-width: 767px) {
  
 .t-left{
    visibility: hidden;
    display: none;
  }
  .t-gap{
    visibility: hidden;
    display: none;
  }
  .social{
    visibility: hidden;
    display: none;
  }
  .tt-right{
    margin-top: -55px;
  }
  .search-box{
    margin-top: 20px;
    }
  .logo{
    .img{
        text-align: center;
    }
  }
  .menu{
    /* visibility:hidden; */
    display: none;

  }
  .mobile-menu{
    display: block;
    text-align: end;
    
    font-size: 25px;
    margin-top: -20px;
  }
  .s-descriotion{
    width: 100%;
  }
 .model{
  width: 90%;
  margin: 0 auto;
    }
 .c-row{
  display: flex;
  flex-direction: column;
  gap: 10px;
  img{
    width: 100%;
  }

}
.women-menu ul{
    flex-wrap: wrap;
    margin-top: 20px;
}
.card{
    margin: 0 auto;
}
.img-cont{
    flex-direction: column;
    gap: 10px;
    img{
      width: 90%;
    }
}
.sponsor{
    .container{
        /* flex-direction: column; */
        gap: 4px;
    }
}
.b-card{
    width: 18rem;
}
.f-logo, .f-information, .f-account{
    margin-bottom:30px;
}
  
}

/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
     .t-left{
    visibility: hidden;
    display: none;
  }
  .t-gap{
    visibility: hidden;
    display: none;
  }
  .social{
    visibility: hidden;
    display: none;
  }
.all-dept{
    font-size: 15px;
}
.b-card{
    width: 15rem;
}

  } */